body {
    font-family: 'Montserrat', sans-serif;
}

#title {
   background-color: #f3556d;
   color: #ffff;
}

.container-fluid {
   padding: 3% 15%;
}

/**** Navigation bar ****/
.navbar {
    padding: 0 0 4rem;
}

.navbar-brand {
    font-family: ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
}

/**** Cover ****/
h1 {
   font-family: 'Montserrat', sans-serif;
   font-size: 3.5rem;
   font-weight: 900;
   line-height: 1.5; 
}

/**** Download Buttons ****/

.download-btn {
    margin: 1.5rem 1rem 2rem 0;
}

/* Title Image */

.title-img {
    width: 60%;
    transform: rotate(25deg);
    margin-left: 18%;
}
