body {
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

p {
	color: #8f8f8f;
}

.container-fluid {
	padding: 5% 12%;
}

/**** Headings ****/
.lg-heading {
    font-family: "Montserrat", sans-serif;
	font-size: 3.5rem;
	font-weight: 900;
	line-height: 1.5;
}

.section-heading {
    font-size: 2.5rem;
	line-height: 1.5;
}

/**** Sections ****/
.colored-section {
	background-color: #ff3a57;
	color: #fff;
}

.white-section {
	background-color: #fff;
}

/**** Navigation bar ****/
.navbar {
	padding: 0 0 4rem;
}

.navbar-brand {
	font-family: ubuntu;
	font-size: 2.5rem;
	font-weight: bold;
}

.nav-item {
	padding: 0 18px;
}

.nav-link {
	font-size: 1.2rem;
}

/**** Download Buttons ****/

.download-btn {
	margin: 1.5rem 1rem 2rem 0;
}

/**** Title section ****/
#title .container-fluid {
	padding: 3% 15% 7%;
	text-align: left;
}

/**** Title Image ****/

.title-img {
	width: 60%;
	transform: rotate(25deg);
	position: absolute;
	right: 28%;
}

/**** Features section  ****/

#features {
    position: relative;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-item {
	padding: 5%;
}

.icon {
	color: #f74c66;
	margin-bottom: 1rem;
}

.fas:hover {
	color: #ff3a57;
}

/**** Testimonials ****/

#testimonials {
	background-color: #f74c66;
}

.testimonial-text {
    font-size: 2.5rem;
	line-height: 1.5;
}

.testimonial-img {
	border-radius: 100%;
	width: 12%;
	margin: 1rem;
}

/**** Press ****/
#press {
	background-color: #f74c66;
	padding-bottom: 3rem;
}

.press-logo {
	width: 13%;
	margin: auto 25px;
}

/**** Pricing ****/
.price-title {
	font-size: 1.5rem;
}

.price-text {
    font-size: 2.5rem;
	line-height: 1.5;
}

.pricing-card {
	padding: 2rem 1rem;
}

.card {
	margin: 0 25px;
}

/**** Call to action ****/
#cta .container-fluid {
	padding: 6% 14%;
}

/**** Footer ****/
.link-icons {
	margin: 20px 10px 30px;
}

/**** Media Query ****/
@media (max-width: 1300px) {
	#title {
		text-align: center;
	}

	.title-img {
		position: static;
		transform: rotate(0);
	}
}